APP_DOMAIN=app.mkserver.cloud
APP_HTTP_PORT=8085

APP_UPLOAD_DATA_DIR=/srv/data/boardwave/upload
MARIADB_DATA_DIR=/srv/data/boardwave/mariadb
PGVECTOR_DATA_DIR=/srv/data/boardwave/pgvector

MARIADB_ROOT_PASSWORD=change-root-password
MARIADB_DATABASE=board_cafe_kiosk_2603
MARIADB_USER=boardwave
MARIADB_PASSWORD=change-app-password

POSTGRES_DB=board_cafe_kiosk_2603
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-postgres-password

MARIADB_URL=jdbc:mariadb://mariadb:3306/board_cafe_kiosk_2603
MARIADB_USERNAME=boardwave
PGVECTOR_URL=jdbc:postgresql://pgvector:5432/board_cafe_kiosk_2603
PGVECTOR_USERNAME=postgres
PGVECTOR_PASSWORD=change-postgres-password

SPRING_SERVLET_MULTIPART_LOCATION=/data/upload
MY_UPLOAD_PATH=/data/upload
APP_WEBSOCKET_ALLOWED_ORIGIN_PATTERNS=https://app.mkserver.cloud
SPRING_BATCH_JDBC_INITIALIZE_SCHEMA=never
TZ=Asia/Seoul

OPENAI_API_KEY=
TOSS_PAYMENTS_SECRET_KEY=
TOSS_PAYMENTS_CLIENT_KEY=
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
MYAPP_MAIL_FROM=
MYAPP_MAIL_FROM_NAME=BOARD_WAVE_SYSTEM
MAIL_TEST_TO=
PORTFOLIO_SUPER_KEY_ID=
PORTFOLIO_SUPER_KEY_OTP=
PORTFOLIO_SUPER_KEY_TEMP_PASSWD=
